APP_NAME = Gogs
RUN_USER = git
RUN_MODE = prod

[database]
DB_TYPE  = mysql
HOST     = {{ gogs_db_host }}
NAME     = {{ gogs_db_name  }}
USER     = {{ gogs_db_username  }}
PASSWD   = {{ gogs_db_password  }}
SSL_MODE = disable
PATH     = data/gogs.db

[repository]
ROOT = {{ gogs_repository }}

[server]
DOMAIN           = {{ gogs_server_name }}
HTTP_PORT        = 3000
ROOT_URL         = https://{{ gogs_server_name }}:3000/
DISABLE_SSH      = false
SSH_PORT         = 22
START_SSH_SERVER = false
OFFLINE_MODE     = false
PROTOCOL         = https
CERT_FILE        = custom/https/server.crt
KEY_FILE         = custom/https/server.pem

[mailer]
ENABLED = false

[service]
REGISTER_EMAIL_CONFIRM = false
ENABLE_NOTIFY_MAIL     = false
DISABLE_REGISTRATION   = false
ENABLE_CAPTCHA         = false
REQUIRE_SIGNIN_VIEW    = true

[picture]
DISABLE_GRAVATAR        = false
ENABLE_FEDERATED_AVATAR = false

[session]
PROVIDER = file

[log]
MODE      = file
LEVEL     = Info
ROOT_PATH = {{ gogs_user_home }}/gogs/log

[security]
INSTALL_LOCK = true
SECRET_KEY   = lVUpWeKVnl9t04r
